// Define variables for your color scheme

// For example:
$red: #d14e4b;
$blue: #3173aa;
$yellow: #cc942c;
$orange: #c46919;
$green: #238e74;
$gray: #000000;
$light-gray: #e5e5e5;
$gray: #E6E6E6;
$pink: #D23333;
$black: #333333;
